{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

</head>
<body>
    {% block content %}
    <header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
        <a href="{% url 'create_recipe'%}">Create a recipe</a>
    </nav>
    </header>
    <main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
    </main>
    {% endblock content %}
</body>
</html>