{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock title %}
<body>
    {% block content %}
    <article>
        <nav>
    
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'create_recipe'%}">Create a recipe</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit this recipe</a>
        </nav>
    <h1>{{ recipe_object.title }}</h1>
    <img src="{{ recipe_object.picture }}">
    <p>{{ recipe_object.rating }} Stars </p>
    <p>
        Written by:
        {{ recipe_object.author.username|default:"anonymous" }}
    </p>
    <h2>Ingredients</h2>
    <h3> Amount | Food Item</h3>
    <ul>
        <li>1 cup - Green Beans</li>
        <li>3 cups - Fresh corn</li>
        <li>2 cups - Tomota salsa</li>
        <li>8 pecies Corn tortilla</li>
        <li>.5 cups - Cottage Cheese</li>
    </ul>
    <h3>Steps</h3>
    <ol>
        {%for step in recipe_object.steps.all  %}
            <li> {{ step.intruction }} </li>
        {% endfor %}
    </ol>
    </article>
    {% endblock content %}
</body>

</html>