{% extends 'base.html' %}

{% block title %}
<title> Scrumptious Recipes</title>
{% endblock title %}
</head>
<body>
    {% block content %}
    <header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main page</a>
        <a href="{% url 'create_recipe'%}">Create a recipe</a>
    </nav>
    </header>
    <main>
        
    <form method="post">
        {% csrf_token %}
        {{ new_recipe.as_p }}
        <button>Save</button>
    </form>
    </main>
    {% endblock content %}
</body>
</html>