{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

<body>
  {% block content %}
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}">Main page</a>
      {% if user.is_authenticated %}
        <a href="{% url 'create_recipe'%}">Create a recipe</a>
        <a href="{% url 'user_logout' %}">Logout</a>
        <a href="{% url 'my_recipe_list' %}">My Recipes</a>
        Hello, {{ user.username }}
      {% else %}
      <a href="{% url 'signup' %}">Sign up</a>
      <a href="{% url 'user_login' %}">Login</a>
      {% endif %}
    </nav>
  </header>
  <main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="recipe-lists">
    {% for recipes in recipe_list %}
    <div>
    <h3>
      <a href="{% url 'show_recipe' recipes.id %}">{{ recipes.title }}</a>
      <p>{{ recipes.created_on|date:" F j, Y"}}</p>
    </h3>
    <img src="{{ recipes.picture }}">
    
    <p>{{ recipes.rating }} Stars </p>
    </div>
    {% empty %}
    {% endfor %}
  </div>
  </main>
  {% endblock content %}
</body>
</html>