<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            {% if user.is_authenticated %}
            Hello, {{user.username }}
              <a href="{%url 'logout' %}">Logout</a>
            {% else %}
              <a href="{%url 'signup' %}">Sign Up</a>


          </li>
        </ul>
      </nav>
    </header>
  </body>
</body>
</html>