@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Mono&display=swap');

* {
    font-family: Roboto;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height:100vh;
    background-color: #e5e4e9;
}

nav {
    background-color: rgb(196, 239, 203);
    border-bottom: 2px solid black;
    padding:2vh 0vw;
    top: 0;
    text-indent: 10px;
    font-size: 20px;
    
    
}


main {
    padding: 16px;
}

h1{
    color:rgb(93, 223, 115);
    font-family: 'Gajraj One', cursive;
    font-size: 50px;
    background-color: black;
}

h1, h2, h3{
    text-align: center;
}



/* .website-grid {
    display: grid;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

} */

.recipe-lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    text-align: center;
}


footer {
    padding: 24px 0px;
    background-color: rgb(218, 218, 156);
    bottom: 0;
    text-align: center;
}

header {
    background-color: rgb(196, 239, 203);
    border-bottom: 2px solid black;
}

img {
    height: 200px;
    margin-left: 19px;
}


img:hover{
    box-shadow: 0 2px 4px 2px rgb(52, 176, 145);
    transition:box-shadow 1.5s
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
}

h3 a {
    font-family: 'Gloock', serif;
}



ol, li {
    width: 300px; 
    text-align: center; 
    margin-left: 110px;
}


ol :nth-child(even){
    background-color: rgb(190, 186, 186);
    
}
